<h1>{{ stock.companyName }}</h1>

<br/>

<strong>Price: </strong>${{ stock.iexRealtimePrice }}<br/>
<strong>Previous Close: </strong>${{ stock.previousClose }}<br/>
<strong>YTD Change: </strong>{{ stock.ytdChange }}<br/>

<hr />

{{!-- {{#each stock}}
    {{@key}} - {{this}}<br/>
{{/each}} --}}